:root {
  --font-family: "Lora", Georgia, 'Times New Roman', Times, serif;
  --font-family-script:"Pirata One",Garamond,'Times New Roman', serif;
  --color-beige: #F4F2EF;
  --color-light-brown: #D8D1BD;
  --color-black: #2C2123;
  --color-maroon: #60212E;
  --color-yellow-green: #D8E63C;
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */

  /* font size variables */
    /* size variables */
    --fs-0-625: 0.625rem; /* 10px */
    --fs-0-75: 0.75rem;   /* 12px */
    --fs-0-875: 0.875rem; /* 14px */
    --fs-1: 1rem;         /* 16px (base font size) */
    --fs-1-125: 1.125rem; /* 18px */
    --fs-1-25: 1.25rem;   /* 20px */
    --fs-1-5: 1.5rem;     /* 24px */
    --fs-2: 2rem;         /* 32px */
    --fs-2-5: 2.5rem;     /* 40px */
    --fs-3: 3rem;         /* 48px */
    --fs-4: 4rem;         /* 64px */

  /* fluid type */
/* @link https://utopia.fyi/space/calculator?c=320,16,1.125,1512,16,1.2,8,2,&s=0.75|0.5|0.25,1.5|1.75|2,s-l|s-xl|l-s|m-s&g=s,l,2xl,12 */
  /* Space 3xs: 4px → 4px */
  --s-3xs: clamp(0.25rem, 0.25rem + 0vw, 0.25rem);
  /* Space 2xs: 8px → 8px */
  --s-2xs: clamp(0.5rem, 0.5rem + 0vw, 0.5rem);
  /* Space xs: 12px → 12px */
  --s-xs: clamp(0.75rem, 0.75rem + 0vw, 0.75rem);
  /* Space s: 16px → 16px */
  --s-s: clamp(1rem, 1rem + 0vw, 1rem);
  /* Space m: 24px → 24px */
  --s-m: clamp(1.5rem, 1.5rem + 0vw, 1.5rem);
  /* Space l: 28px → 28px */
  --s-l: clamp(1.75rem, 1.75rem + 0vw, 1.75rem);
  /* Space xl: 32px → 32px */
  --s-xl: clamp(2rem, 2rem + 0vw, 2rem);

  /* One-up pairs */
  /* Space 3xs-2xs: 4px → 8px */
  --s-3xs-2xs: clamp(0.25rem, 0.1829rem + 0.3356vw, 0.5rem);
  /* Space 2xs-xs: 8px → 12px */
  --s-2xs-xs: clamp(0.5rem, 0.4329rem + 0.3356vw, 0.75rem);
  /* Space xs-s: 12px → 16px */
  --s-xs-s: clamp(0.75rem, 0.6829rem + 0.3356vw, 1rem);
  /* Space s-m: 16px → 24px */
  --s-s-m: clamp(1rem, 0.8658rem + 0.6711vw, 1.5rem);
  /* Space m-l: 24px → 28px */
  --s-m-l: clamp(1.5rem, 1.4329rem + 0.3356vw, 1.75rem);
  /* Space l-xl: 28px → 32px */
  --s-l-xl: clamp(1.75rem, 1.6829rem + 0.3356vw, 2rem);

  /* Custom pairs */
  /* Space s-l: 16px → 28px */
  --s-s-l: clamp(1rem, 0.7987rem + 1.0067vw, 1.75rem);
  /* Space s-xl: 16px → 32px */
  --s-s-xl: clamp(1rem, 0.7315rem + 1.3423vw, 2rem);
  /* Space l-s: 28px → 16px */
  --s-l-s: clamp(1rem, 1.9513rem + -1.0067vw, 1.75rem);
  /* Space m-s: 24px → 16px */
  --s-m-s: clamp(1rem, 1.6342rem + -0.6711vw, 1.5rem);
}
