@font-face{
  font-family: "PPNeueWorld-SemiCondensedUltraBold";
  src: url("../../public/fonts/PPNeueWorld-SemiCondensedUltrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face{
  font-family: "PPNeueWorld-Regular";
  src: url("../../public/fonts/PPNeueWorld-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  --font-family: "Lora", Georgia, 'Times New Roman', Times, serif;
  --font-family-script:"Pirata One",Garamond,'Times New Roman', serif;
  --font-family-elegant-bold: "PPNeueWorld-SemiCondensedUltraBold",Garamond,serif;
  --font-family-elegant-regular: "PPNeueWorld-Regular",Garamond,serif;
  --font-family-raleway: "Raleway", Helvetica, sans-serif;
  --font-family-script-2: "Kaushan Script", "Brush Script MT", cursive;
  --font-family-oswald: "Oswald", Helvetica, sans-serif;
  --color-beige: #F4F2EF;
  --color-light-brown: #D8D1BD;
  --color-charcoal: #3A3A3A;
  --color-black: #2C2123;
  --color-maroon: #60212E;
  --color-yellow-green: #D8E63C;
  --color-pink:#E814B3;
  --color-pink-50-percent: #E073B8;
  --color-purple: #B1B0F6;
  --color-green: #5B6C4C;
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */

  /* fluid type */
  /* @link https://utopia.fyi/type/calculator?c=320,16,1.125,1512,16,1.2,9,2,&s=0.75|0.5|0.25,1.5|1.75|2,s-l|s-xl|l-s|m-s&g=s,l,2xl,12 */

  /* Step -2: 12.642px → 11.1111px */
  --fs-step--2: clamp(0.6944rem, 0.8158rem + -0.1284vw, 0.7901rem);
  /* Step -1: 14.2222px → 13.3333px */
  --fs-step--1: clamp(0.8333rem, 0.9038rem + -0.0746vw, 0.8889rem);
  /* Step 0: 16px → 16px */
  --fs-step-0: clamp(1rem, 1rem + 0vw, 1rem);
  /* Step 1: 18px → 19.2px */
  --fs-step-1: clamp(1.125rem, 1.1049rem + 0.1007vw, 1.2rem);
  /* Step 2: 20.25px → 23.04px */
  --fs-step-2: clamp(1.2656rem, 1.2188rem + 0.2341vw, 1.44rem);
  /* Step 3: 22.7813px → 27.648px */
  --fs-step-3: clamp(1.4238rem, 1.3422rem + 0.4083vw, 1.728rem);
  /* Step 4: 25.6289px → 33.1776px */
  --fs-step-4: clamp(1.6018rem, 1.4752rem + 0.6333vw, 2.0736rem);
  /* Step 5: 28.8325px → 39.8131px */
  --fs-step-5: clamp(1.802rem, 1.6178rem + 0.9212vw, 2.4883rem);
  /* Step 6: 32.4366px → 47.7757px */
  --fs-step-6: clamp(2.0273rem, 1.7699rem + 1.2868vw, 2.986rem);
  /* Step 7: 36.4912px → 57.3309px */
  --fs-step-7: clamp(2.2807rem, 1.931rem + 1.7483vw, 3.5832rem);
  /* Step 8: 41.0526px → 68.7971px */
  --fs-step-8: clamp(2.5658rem, 2.1003rem + 2.3276vw, 4.2998rem);
  /* Step 9: 46.1841px → 82.5565px */
  --fs-step-9: clamp(2.8865rem, 2.2762rem + 3.0514vw, 5.1598rem);


  /* fluid space */
  /* @link https://utopia.fyi/space/calculator?c=320,16,1.125,1512,16,1.2,8,2,&s=0.75|0.5|0.25,1.25|1.5|1.75|2|2.25|2.5|2.75|3,s-l|s-xl|l-s|m-s|s-xs|xs-2xs&g=s,l,2xl,12 */

  /* Space 3xs: 4px → 4px */
  --s-4px: clamp(0.25rem, 0.25rem + 0vw, 0.25rem);
  /* Space 2xs: 8px → 8px */
  --s-8px: clamp(0.5rem, 0.5rem + 0vw, 0.5rem);
  /* 10px → 10px */
  --s-10px: clamp(0.625rem, 0.625rem + 0vw, 0.625rem);
  /* Space xs: 12px → 12px */
  --s-12px: clamp(0.75rem, 0.75rem + 0vw, 0.75rem);
  /* 14px → 14px */
  --s-14px: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  /* Space s: 16px → 16px (base font size) */
  --s-16px: clamp(1rem, 1rem + 0vw, 1rem);
  /* 18px → 18px */
  --s-18px: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  /* Space m: 20px → 20px */
  --s-20px: clamp(1.25rem, 1.25rem + 0vw, 1.25rem);
  /* 22px → 22px */
  --s-22px: clamp(1.375rem, 1.375rem + 0vw, 1.375rem);
  /* Space l: 24px → 24px */
  --s-24px: clamp(1.5rem, 1.5rem + 0vw, 1.5rem);
  /* 26px → 26px */
  --s-26px: clamp(1.625rem, 1.625rem + 0vw, 1.625rem);
  /* Space xl: 28px → 28px */
  --s-28px: clamp(1.75rem, 1.75rem + 0vw, 1.75rem);
  /* Space 2xl: 32px → 32px */
  --s-32px: clamp(2rem, 2rem + 0vw, 2rem);
  /* Space 3xl: 36px → 36px */
  --s-36px: clamp(2.25rem, 2.25rem + 0vw, 2.25rem);
  /* Space 4xl: 40px → 40px */
  --s-40px: clamp(2.5rem, 2.5rem + 0vw, 2.5rem);
  /* 42px → 42px */
  --s-42px: clamp(2.625rem, 2.625rem + 0vw, 2.625rem);
  /* Space 5xl: 44px → 44px */
  --s-44px: clamp(2.75rem, 2.75rem + 0vw, 2.75rem);
  /* Space 6xl: 48px → 48px */
  --s-48px: clamp(3rem, 3rem + 0vw, 3rem);
   /* 50px → 50px */
  --s-50px: clamp(3.125rem, 3.125rem + 0vw, 3.125rem);
  /* 64px → 64px */
  --s-64px: clamp(4rem, 4rem + 0vw, 4rem);

  /* One-up pairs */
  /* Space 3xs-2xs: 4px → 8px */
  --s-3xs-2xs: clamp(0.25rem, 0.1829rem + 0.3356vw, 0.5rem);
  /* Space 2xs-xs: 8px → 12px */
  --s-2xs-xs: clamp(0.5rem, 0.4329rem + 0.3356vw, 0.75rem);
  /* Space xs-s: 12px → 16px */
  --s-xs-s: clamp(0.75rem, 0.6829rem + 0.3356vw, 1rem);
  /* Space s-m: 16px → 20px */
  --s-s-m: clamp(1rem, 0.9329rem + 0.3356vw, 1.25rem);
  /* Space m-l: 20px → 24px */
  --s-m-l: clamp(1.25rem, 1.1829rem + 0.3356vw, 1.5rem);
  /* Space l-xl: 24px → 28px */
  --s-l-xl: clamp(1.5rem, 1.4329rem + 0.3356vw, 1.75rem);
  /* Space xl-2xl: 28px → 32px */
  --s-xl-2xl: clamp(1.75rem, 1.6829rem + 0.3356vw, 2rem);
  /* Space 2xl-3xl: 32px → 36px */
  --s-2xl-3xl: clamp(2rem, 1.9329rem + 0.3356vw, 2.25rem);
  /* Space 3xl-4xl: 36px → 40px */
  --s-3xl-4xl: clamp(2.25rem, 2.1829rem + 0.3356vw, 2.5rem);
  /* Space 4xl-5xl: 40px → 44px */
  --s-4xl-5xl: clamp(2.5rem, 2.4329rem + 0.3356vw, 2.75rem);
  /* Space 5xl-6xl: 44px → 48px */
  --s-5xl-6xl: clamp(2.75rem, 2.6829rem + 0.3356vw, 3rem);

  /* Custom pairs */

  /* Space xs-2xs: 12px → 8px */
  --s-xs-2xs: clamp(0.5rem, 0.8171rem + -0.3356vw, 0.75rem);
  /* Space s-xs: 16px → 12px */
  --s-s-xs: clamp(0.75rem, 1.0671rem + -0.3356vw, 1rem);
  /* Space s-l: 16px → 24px */
  --s-s-l: clamp(1rem, 0.8658rem + 0.6711vw, 1.5rem);
  /* Space s-xl: 16px → 28px */
  --s-s-xl: clamp(1rem, 0.7987rem + 1.0067vw, 1.75rem);

  /* line-height */

  /* Space m-s: 20px → 16px */
  --s-m-s: clamp(1rem, 1.3171rem + -0.3356vw, 1.25rem);
  /* Space l-s: 24px → 16px */
  --s-l-s: clamp(1rem, 1.6342rem + -0.6711vw, 1.5rem);
  /* Space l-m: 24px → 20px */
  --s-l-m: clamp(1.25rem, 1.5671rem + -0.3356vw, 1.5rem);
  /* Space xl-s: 28px → 16px */
  --s-xl-s: clamp(1rem, 1.9513rem + -1.0067vw, 1.75rem);
  /* Space xl-m: 28px → 20px */
  --s-xl-m: clamp(1.25rem, 1.8842rem + -0.6711vw, 1.75rem);

  --lh-100-percent: 1rem;
  --lh-110-percent: 1.1rem;
  --lh-120-percent: 1.2rem;
  --lh-140-percent: 1.4rem;
  --lh-160-percent: 1.6rem;
}
