@import url("./reset.css");
@import url("./root-variables.css");

html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* general css */

body {
  font-family: var(--font-family);
  font-size: var(--fs-step-0);
  line-height: var(--s-m-s);
  color: var(--color-black);
  background-color: var(--color-beige);
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction: column;
  align-items:stretch;
  text-align: center;
}

input, textarea, button {
  font-family: inherit
}

a:any-link{
  text-decoration: none;
  cursor: pointer;
}

a{
  color: var(--color-black);
}

.hero, .intro{
  padding: var(--s-s-m);
}

/* mobile navigation */

header{
  display:grid;
  grid-template-areas:
  "head"
  "main-nav"
  "lang-nav"
  "cta";
  background-color: var(--color-beige);
}

.main-nav__head{
  grid-area: head;
  background-color: var(--color-light-brown);
  padding: var(--s-s-m);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav__list, .header__lang-nav{
  padding: var(--s-s-m);
}

.nav__button{
  border: none;
  background-color: transparent;
}

/* .button__svg #menu_close{
  display: none;
}

.button__svg #menu_open{
  display: block;
} */

.main-nav__button{
  border:none;
  background-color: transparent;
}

.main-nav__logo:focus-visible,
.main-nav__button:focus-visible{
  border: solid 2px var(--color-black);
  background-color: var(--color-light-brown);
  padding: 0.25rem;
}

.main-nav__list{
  grid-area: main-nav;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--s-s-m);
  text-align: center;
  padding-top: var(--s-m);
  padding-bottom: var(--s-m);

  li{
    padding: var(--s-xs) 0;
    padding-bottom:var(--s-s-m);
    border-bottom: solid 1px var(--color-black);
    align-self: stretch;
  }
}

.main-nav__list-item>a:focus,
.main-nav__list-item--dropdown-name>a:focus{
  border: solid 2px var(--color-black);
  border-radius: 2px;
  padding: var(--s-xs-s);
  color:var(--color-maroon);
}

.main-nav__list-item--dropdown-name >a:focus,
.main-nav__list-item--dropdown-name >a:hover,
.main-nav__list-item>a:hover,
.main-nav__list-item>a:focus{
  color:var(--color-maroon);
  font-size: var(--fs-step-1);
}

.main-nav__list-item--dropdown-name{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--s-xs);
}

.main-nav__list-item--dropdown-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--s-xs);
  padding-top: var(--s-s);
  font-family: var(--font-family-script);
  display: none;
}

.main-nav__list-item--dropdown-list > li{
  padding: var(--s-xs-s);
  border-bottom: none;
}

.main-nav__list-item--dropdown-list > li >a:focus,
.main-nav__list-item--dropdown-list > li >a:hover{
  color:var(--color-maroon);
  text-decoration: underline;
  font-size: var(--fs-step-2);
}

.header__lang-nav{
  grid-area: lang-nav;
}

.lang-nav__list{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 36px;
}

.lang-nav__list-item > a{
  display: flex;
  flex-flow: column wrap;
  justify-content:center;
  background-image: url("../assets/images/svg/icon_language.svg#frame_s");
  background-repeat: no-repeat;
  background-position: center center;
  width: 70px;
  height:50px;
  text-align: center;
}

.lang-nav__list-item > a:focus-visible, .lang-nav__list-item > a:hover{
  color:var(--color-maroon);
  text-decoration: underline;
  background-image: url("../assets/images/svg/icon_language.svg#frame_s_focus_hover");
  background-repeat: no-repeat;
  background-position: center center;
  width:70px;
  height:50px;
}

.main-nav__list-item--dropdown:hover .list-item__icon,
.main-nav__list-item--dropdown:focus-within .list-item__icon,
.main-nav__list-item--dropdown:active .list-item__icon{
  transform: rotate(180deg);
}

.main-nav__list-item--dropdown:hover > .main-nav__list-item--dropdown-list,
.main-nav__list-item--dropdown:focus > .main-nav__list-item--dropdown-list,
.main-nav__list-item--dropdown:focus-within > .main-nav__list-item--dropdown-list,
.main-nav__list-item--dropdown:active > .main-nav__list-item--dropdown-list,
.main-nav__list-item--dropdown-list:hover,
.main-nav__list-item--dropdown-list:focus,
.main-nav__list-item--dropdown-list:active {
  display: block;
}

/* .main-nav__list-item:last-child>a{
  display:block;
  width:fit-content;
  to get the same styling on focus border when accessing nav menu with keyboard
} */

.header__primary-button{
  grid-area: cta;
  border:none;
  background-color: var(--color-maroon);
  color: var(--color-yellow-green);
  font-size: var(--fs-step-2);
  border-radius: 40px;
  padding: var(--s-l-s);
  margin: var(--s-xs) var(--s-s-m);
  text-align: center;
}

.header__primary-button:focus,.header__primary-button:hover{
  border: solid 2px var(--color-black);
  background-color: var(--color-beige);
  color: var(--color-black);
}

.header__primary-button:hover{
  cursor:pointer;
}

/* responsive mobile language navigation */
@media screen and (min-width: 25em){
  .lang-nav__list-item > a{
    background-image: url("../assets/images/svg/icon_language.svg#frame_m");
    width:86px;
    height:62px;
  }

  .lang-nav__list-item > a:focus-visible, .lang-nav__list-item > a:hover{
    background-image: url("../assets/images/svg/icon_language.svg#frame_m_focus_hover");
    width:86px;
    height:62px;
  }
}

/* mobile layout & styling */

.hero{
  display:flex;
  flex-flow: column nowrap;
  align-items: center;
}

.hero__title{
  display:flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: var(--s-xs);
}

.hero__title--script{
  font-family: var(--font-family-script);
  color: var(--color-yellow-green);
  font-size: var(--fs-step-9);
  line-height: var(--s-xl-s);
}

.hero__title--elegant{
  font-family: var(--font-family-elegant-bold);
  color: var(--color-maroon);
}

.hero__read-info{
  font-family: var(--font-family-raleway);
  padding: 0 60px;
  padding-top: var(--s-s);
}

.hero__title--elegant-regular{
  font-family: var( --font-family-elegant-regular);
}

.hero__scroll-icon{
  transform: rotate(180deg);
}

.hidden{
  display:none;
}

/* .show{
  display: block;
} */


/* dekstop */

/* .main-nav__button:hover{
  cursor:pointer;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}  */
