@import url("./reset.css");
@import url("./root-variables.css");

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation:none !important;
  }
}

html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body, html {
  height: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* general css */

body {
  font-family: var(--font-family);
  font-size: var(--fs-step-0);
  line-height: var(--s-m-s);
  color: var(--color-black);
  background-color: var(--color-beige);
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction: column;
  align-items:stretch;
  text-align: center;
}

input, textarea, button {
  font-family: inherit
}

a:any-link{
  text-decoration: none;
  cursor: pointer;
}

a{
  color: var(--color-black);
}

.hero{
  padding: var(--s-s-m);
}

/* mobile navigation */

header{
  display:grid;
  grid-template-areas:
  "head"
  "main-nav"
  "lang-nav"
  "cta";
  background-color: var(--color-beige);
}

.main-nav__head{
  grid-area: head;
  background-color: var(--color-light-brown);
  padding: var(--s-s-m);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav__list, .header__lang-nav{
  padding: var(--s-s-m);
}

.nav__button{
  border: none;
  background-color: transparent;
}

/* .button__svg #menu_close{
  display: none;
}

.button__svg #menu_open{
  display: block;
} */

.main-nav__button{
  border:none;
  background-color: transparent;
}

.main-nav__logo:focus-visible,
.main-nav__button:focus-visible{
  border: solid 2px var(--color-black);
  background-color: var(--color-light-brown);
  padding: 0.25rem;
}

.main-nav__list{
  grid-area: main-nav;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--s-s-m);
  text-align: center;
  padding-top: var(--s-m);
  padding-bottom: var(--s-m);

  li{
    padding: var(--s-xs) 0;
    padding-bottom:var(--s-s-m);
    border-bottom: solid 1px var(--color-black);
    align-self: stretch;
  }
}

.main-nav__list-item>a:focus,
.main-nav__list-item--dropdown-name>a:focus{
  border: solid 2px var(--color-black);
  border-radius: 2px;
  padding: var(--s-xs-s);
  color:var(--color-maroon);
}

.main-nav__list-item--dropdown-name >a:focus,
.main-nav__list-item--dropdown-name >a:hover,
.main-nav__list-item>a:hover,
.main-nav__list-item>a:focus{
  color:var(--color-maroon);
  font-size: var(--fs-step-1);
}

.main-nav__list-item--dropdown-name{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--s-xs);
}

.main-nav__list-item--dropdown-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--s-xs);
  padding-top: var(--s-s);
  font-family: var(--font-family-script);
  display: none;
}

.main-nav__list-item--dropdown-list > li{
  padding: var(--s-xs-s);
  border-bottom: none;
}

.main-nav__list-item--dropdown-list > li >a:focus,
.main-nav__list-item--dropdown-list > li >a:hover{
  color:var(--color-maroon);
  text-decoration: underline;
  font-size: var(--fs-step-2);
}

.header__lang-nav{
  grid-area: lang-nav;
}

.lang-nav__list{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 36px;
}

.lang-nav__list-item > a{
  display: flex;
  flex-flow: column wrap;
  justify-content:center;
  background-image: url("../assets/images/svg/icon_language.svg#frame_s");
  background-repeat: no-repeat;
  background-position: center center;
  width: 70px;
  height:50px;
  text-align: center;
}

.lang-nav__list-item > a:focus-visible, .lang-nav__list-item > a:hover{
  color:var(--color-maroon);
  text-decoration: underline;
  background-image: url("../assets/images/svg/icon_language.svg#frame_s_focus_hover");
  background-repeat: no-repeat;
  background-position: center center;
  width:70px;
  height:50px;
}

.main-nav__list-item--dropdown:hover .list-item__icon,
.main-nav__list-item--dropdown:focus-within .list-item__icon,
.main-nav__list-item--dropdown:active .list-item__icon{
  transform: rotate(180deg);
}

.main-nav__list-item--dropdown:hover > .main-nav__list-item--dropdown-list,
.main-nav__list-item--dropdown:focus > .main-nav__list-item--dropdown-list,
.main-nav__list-item--dropdown:focus-within > .main-nav__list-item--dropdown-list,
.main-nav__list-item--dropdown:active > .main-nav__list-item--dropdown-list,
.main-nav__list-item--dropdown-list:hover,
.main-nav__list-item--dropdown-list:focus,
.main-nav__list-item--dropdown-list:active {
  display: block;
}

/* .main-nav__list-item:last-child>a{
  display:block;
  width:fit-content;
  to get the same styling on focus border when accessing nav menu with keyboard
} */

.header__primary-button{
  grid-area: cta;
  border:none;
  background-color: var(--color-maroon);
  color: var(--color-yellow-green);
  font-size: var(--fs-step-2);
  border-radius: 40px;
  padding: var(--s-l-s);
  margin: var(--s-xs) var(--s-s-m);
  text-align: center;
}

.header__primary-button:focus,.header__primary-button:hover{
  border: solid 2px var(--color-black);
  background-color: var(--color-beige);
  color: var(--color-black);
}

.header__primary-button:hover{
  cursor:pointer;
}

/* mobile layout & styling */

/* hero */

.hero{
  display:flex;
  flex-flow: column nowrap;
  align-items:center;
  justify-content: center;
  background-color: var(--color-pink-50-percent);
  height:100vh;

}

.hero__title{
  display:flex;
  flex-flow: column nowrap;
  align-items: center;
}

.hero__title--elegant-bold{
  font-family: var(--font-family-elegant-bold);
  color: var(--color-maroon);
  font-size: var( --fs-step-3);
  margin-top: var(--s-s-l);
  margin-bottom: var(--s-l);
  display: flex;
  flex-flow: column nowrap;
  gap: var(--s-3xs);
}

.hero__title--script{
  font-family: var(--font-family-script);
  color: var(--color-yellow-green);
  line-height: var(--s-xl-s);
  font-size: var( --fs-step-7);
  display: flex;
  flex-flow: row nowrap;
  gap: var(--s-2xs);
  min-height: var(--s-xl);
}

.hero__title--script > span{
  display: flex;
  align-self:flex-end;
  transform: translateY(2px);
}

.hero__title--elegant-bold-green{
  font-family: var(--font-family-elegant-bold);
  color: var(--color-yellow-green);
  font-size: var(--fs-step-5);
}

.hero__read-info{
  font-family: var(--font-family-raleway);
  font-size: var(--fs-step-1);
  padding-bottom: var(--s-2xs);
}

.hero__title--elegant-regular{
  font-family: var( --font-family-elegant-regular);
  padding-bottom: var(--s-2xs-xs);
}

.hero__scroll-icon{
  transform: rotate(180deg);
  margin-top: var(--s-s);
}

.hero__image{
  transform: scale(50%) translateY(-89%);
}
.hero__content{
  padding-top: 42px;
  transform: translateY(-88%);
  /* background-color: aqua; */
}

/* intro */

.intro{
  padding: var(--s-20px);
  background-color: var(--color-charcoal);
  height: 100vh;
  color: var(--color-beige);
  background-image: url("../assets/images/svg/section_styling_line.svg");
  background-repeat: repeat-x;
  background-position: top var(--s-28px) center;
  /* height:2;
  width:171; */
}

.intro__title{
  font-family: var(--font-family-elegant-regular);
  font-size: var(--fs-step-4);
  background-color: var(--color-charcoal);
  padding: 0 var(--s-20px);
  width:fit-content;
  text-align: center;
  display: flex;
  justify-self: center;
}

/* interactivity intro */

.intro__form{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: var(--s-s-m);
  padding: var(--s-s-m);
}

.intro__message{
  display:none;
}

/* start responsive - mobile */

@media screen and (min-width: 20em){
  /* Styles for small smartphones from 320px */

  /* double, is base */
  /* .hero__image{
    transform: scale(50%) translateY(-89%);
  }
  .hero__content{
    padding-top: 42px;
    transform: translateY(-88%);
  } */
  /*  */
}

@media screen and (min-width: 20.5em){
  .hero__title--script{
    font-size: var( --fs-step-8);
  }
}

@media screen and (min-width: 23.438em){
  /* Styles for medium smartphones from 375px */
  .hero__image{
    transform: scale(50%) translateY(-67%);
  }
  .hero__content{
    transform: translateY(-85%);
  }
}

/* 400 px = 25em */
@media screen and (min-width: 25em){
  .lang-nav__list-item > a{
    background-image: url("../assets/images/svg/icon_language.svg#frame_m");
    width:86px;
    height:62px;
  }

  .lang-nav__list-item > a:focus-visible, .lang-nav__list-item > a:hover{
    background-image: url("../assets/images/svg/icon_language.svg#frame_m_focus_hover");
    width:86px;
    height:62px;
  }
}

@media screen and (min-width: 26em){
  .hero__title--script{
    font-size: var( --fs-step-9);
  }
}

@media screen and (min-width: 26.563em){
  /* Styles for larger smartphones 425px = 26.563em */
  .hero__image{
    transform: scale(50%) translateY(-52%);
  }
  .hero__content{
    transform: translateY(-82%);
  }
}


@media screen and (min-width: 27em){
  .hero__title--script{
    font-size: var( --fs-step-9);
  }
}

@media screen and (min-width: 30em){
  .hero__image{
    transform: scale(50%) translateY(-40%);
  }
  .hero__content{
    transform: translateY(-95%);
    /* background-color: aqua; */
  }
}

@media screen and (min-width: 35em){
  .hero__image{
    transform: scale(50%) translateY(-30%);
  }
  .hero__content{
    transform: translateY(-95%);
    /* background-color: aqua; */
  }
}

@media screen and (min-width: 40em){
  .hero__image{
    transform: scale(50%) translateY(-20%);
  }
  .hero__content{
    transform: translateY(-95%);
    /* background-color: aqua; */
  }
}

@media screen and (min-width: 45em){
  .hero__image{
    transform: scale(50%) translateY(-10%);
  }
  .hero__content{
    transform: translateY(-95%);
    /* background-color: aqua; */
  }
}

/* start tablet: 600px */


@media (min-width: 37.5em) {
  /* Styles for small tablets 600px = 37.5em */

}

@media screen and (min-width: 48em){
  /* Styles for tablets 768px = 48em */

  .hero__image{
    transform: scale(50%) translateY(-5%);
  }
  .hero__content{
    transform: translateY(-95%);
    /* background-color: aqua; */
  }
}

/* start laptops: 1024px */

@media screen and (min-width: 64em){
  /* Styles for tablets in landscape or laptops 1024px = 64em */

}


@media (min-width: 80em) {
  /* Styles for desktops 1280px = 80em */
}


@media only screen and (min-width: 90em) {
  /* Styles for larger screens 1440px = 90em */
  body {
    max-width: 128rem; /* 2048px */
    margin: 0 auto;
    background-color: azure;
  }
}

/* responsive mac laptop width = 1512px =94.5em */
/* @media screen and (min-width: 94.5em){

} */

/* responsive projection screen = 1920px = 120em */
/* @media screen and (min-width: 120em){

} */

.hidden{
  display:none;
}


/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}  */
